#btnReg{
    background-color: blue; 
    color: white;
    border-radius: 20px;
}
.{
    font-family: 'Courier New';
}
.fname{
    padding-top: 20px;
    padding-left: 50px;
}

.form {
    padding: 30px 40px;
}
.space{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.center {
    background-color: #fff;
    border-radius: 5px;
    width:400px;
    position: absolute;
    left: 50%;
  }
input{
    margin: auto;
    padding: 10px;
    width: 50%;
}
.err{
    color: red;
    font-size: 12px;
    font-family: 'Courier New';
}
